* { margin: 0; padding: 0; }

hr {
    border: 0;
    height: 1px;
    background-color: 333;
    background-image: linear-gradient(to right, #eee, #555, #eee);
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-color: #eee;
    overflow: scroll;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul li {
    list-style-position: inside;
}

#contents {
    /* fonts */
    font-family: georgia, serif;

    /* color */
    background-color: #eee;
    color: #333;

    /* shape */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 10px;
}

#siteheader {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    text-align: center;
}

#sitemenu ul {
    list-style-type: none;
    display: block;
    width: 800px;
    height: 40px;
    text-align: center;
}

#sitemenu ul li {
    display: inline;
    margin-left: 10px;
    margin-right: -5px;
}

#sitemenu ul li a {
    display: inline-block;
    width: 100px;
    height: 28px;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    padding-top: 10px;
    text-align: center;
    color: #eee;
}

#sitemenu ul li a:hover {
    color: #333;
    background-color: #fff;
}

#sitemenu ul li a#here {
    color: #333;
    background-color: #fff;
}

#text {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

#text img {
    max-width: 760px;
    max-height: 551px;
    margin-top: 5px;
    margin-right: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff;
}

#sitefooter {
    min-height: 25px;
}

.vspace {
    height: 25px;
}

